services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - myclass-network

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5431:5432"
    networks:
      - myclass-network
    volumes:
      - ./restore.sh:/docker-entrypoint-initdb.d/restore.sh
      - postgres_data:/var/lib/postgresql/data

networks:
  myclass-network:
    driver: bridge

volumes:
  postgres_data:
